
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="owlCarousel/assets/docs.theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="dirCss/index.css">
<!--OwlStyleSheets-->
<link rel="stylesheet" href="owlCarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="owlCarousel/assets/owl.theme.default.min.css">

    <title>inNet@</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--OwlJquery-->
   <script src="owlCarousel/owl.carousel.js"></script>
</head>
<body>






<!--HEADER SECTION-->
<header id="header"> 
<div align="center"> <h1> inNet @ </h1></div>
</header>


<div class="container" style="margin-top: -25px;">
   <div align="center">
        <div class="col-md-12">
       
            <div id="custom-search-input">
                <div class="input-group  col-md-12">
                    <input type="text" class="form-control input-lg search" placeholder="Buscar" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>





<!--TAGS SECTION-->

<section id="tags"> 
    <article class="articulo">
    <div class="col-md-12"> <h3> Search Tags </h3> </div>
  <div class="col-md-12 btn-toolbar padder">

         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-shopping-bag" aria-hidden="true"></i> ALMACENES</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-hospital-o" aria-hidden="true"></i> CENTROS MEDICOS</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-cutlery" aria-hidden="true"></i> RESTAURANTES</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-university" aria-hidden="true"></i> BANCOS</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-tablet" aria-hidden="true"></i> SERVICIOS</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-graduation-cap" aria-hidden="true"></i> EDUCACION</button>

         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-bed" aria-hidden="true"></i> HOSPEDAJE</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-car" aria-hidden="true"></i> AUTOS</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-film" aria-hidden="true"></i>    CINES</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-map-o" aria-hidden="true"></i>   TURISMO</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-plane" aria-hidden="true"></i>  AGENCIAS DE VIAJE</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-glass" aria-hidden="true"></i>   VIDA NOCTURNA</button>

         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-gg" aria-hidden="true"></i>  GIMNASIOS</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-birthday-cake" aria-hidden="true"></i>   EVENTOS</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-futbol-o" aria-hidden="true"></i>    DEPORTES</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-home" aria-hidden="true"></i>    HOGAR</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>     COOPERATIVAS</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-university" aria-hidden="true"></i>  GOBIERNO</button>

         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-truck" aria-hidden="true"></i>   MUDANZAS</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-usb" aria-hidden="true"></i>TECNOLOGIA</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-coffee" aria-hidden="true"></i> COMIDA RAPIDA</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-child" aria-hidden="true"></i>   FUNDACIONES</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-mobile" aria-hidden="true"></i>  CELULARES</button>
         <button type="button" class="btn btn-default btn-lg filter-button"><i class="fa fa-university" aria-hidden="true"></i>  UNIVERSIDADES</button>

   </div>
    </article>
</section>



<!--LIST SECTION-->
<section id="listas">
     <article class="articulo">

  <div class="col-md-12"><h3>Listado de categorias: </h3></div>
   
<div class="col-md-12">

        <div class="col-md-3  col-xs-3"> 

            <dir class="margin-list">
              <li>html</li>
              <li>xhtml</li>
              <li>css</li>
                 <li>html</li>
              <li>xhtml</li>
              <li>css</li>
            </dir>

            <dir class="margin-list">
              <li>html</li>
              <li>xhtml</li>
              <li>css</li>
                   <li>html</li>
              <li>xhtml</li>
              <li>css</li>
            </dir>

            <dir class="margin-list">
              <li>html</li>
              <li>xhtml</li>
              <li>css</li>
            </dir>
        </div>

  <div class="col-md-3  col-xs-3"> 

            <dir class="margin-list">
              <li>html</li>
              <li>xhtml</li>
              <li>css</li>
                 <li>html</li>
              <li>xhtml</li>
              <li>css</li>
            </dir>

            <dir class="margin-list">
              <li>html</li>
              <li>xhtml</li>
              <li>css</li>
                   <li>html</li>
              <li>xhtml</li>
              <li>css</li>
            </dir>

            <dir class="margin-list">
              <li>html</li>
              <li>xhtml</li>
              <li>css</li>
            </dir>
        </div>

  <div class="col-md-3  col-xs-3"> 

            <dir class="margin-list">
              <li>html</li>
              <li>xhtml</li>
              <li>css</li>
                 <li>html</li>
              <li>xhtml</li>
              <li>css</li>
            </dir>

            <dir class="margin-list">
              <li>html</li>
              <li>xhtml</li>
              <li>css</li>
                   <li>html</li>
              <li>xhtml</li>
              <li>css</li>
            </dir>

            <dir class="margin-list">
              <li>html</li>
              <li>xhtml</li>
              <li>css</li>
            </dir>
        </div>

              <div class="col-md-3 col-xs-3"> 

                        <dir class="margin-list">
                          <li>html</li>
                          <li>xhtml</li>
                          <li>css</li>
                             <li>html</li>
                          <li>xhtml</li>
                          <li>css</li>
                        </dir>

                        <dir class="margin-list">
                          <li>html</li>
                          <li>xhtml</li>
                          <li>css</li>
                               <li>html</li>
                          <li>xhtml</li>
                          <li>css</li>
                        </dir>

                        <dir class="margin-list">
                          <li>html</li>
                          <li>xhtml</li>
                          <li>css</li>
                        </dir>
                    </div>
              </div>
     </article>


</section> <br>




<!--EMPRESAS DESTACADAS SECCTION-->
<section id="destacados">
    <article class="articulo">
    <h3>Empresas Destacadas</h3>

<br>
<!--
<div class="clear" style="width:100%;height:100px;"></div>
-->

<div class="container">
    <header id="myCarousel" class="carousel slide">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">


            <div class="item active">
              

            <div class="col-md-3 col-sm-6">
            
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                    <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                      <img src="http://lorempixel.com/400/200" />
                    </div>
                    <div class="panel-body">
                        <h4>Service One</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                    <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                      <img src="http://lorempixel.com/400/200" />
                    </div>
                    <div class="panel-body">
                        <h4>Service Two</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                    <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                      <img src="http://lorempixel.com/400/200" />
                    </div>
                    <div class="panel-body">
                        <h4>Service Three</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                    <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                      <img src="http://lorempixel.com/400/200" />
                    </div>
                    <div class="panel-body">
                        <h4>Service Four</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
       



            </div>

            <div class="item">
            
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                    <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                      <img src="http://lorempixel.com/400/200" />
                    </div>
                    <div class="panel-body">
                        <h4>Service One</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                    <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                      <img src="http://lorempixel.com/400/200" />
                    </div>
                    <div class="panel-body">
                        <h4>Service Two</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                    <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                      <img src="http://lorempixel.com/400/200" />
                    </div>
                    <div class="panel-body">
                        <h4>Service Three</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                    <div class="col-img-responsive02"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></div>
                      <img src="http://lorempixel.com/400/200" />
                    </div>
                    <div class="panel-body">
                        <h4>Service Four</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
       
            </div>


          </div>


          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span  aria-hidden="true"><i class="fa fa-chevron-circle-left"></i>
</span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span  aria-hidden="true"><i class="fa fa-chevron-circle-right"></i>
</span>
            <span class="sr-only">Next</span>
          </a>
    </div>
    </header>

</div>



<script> 
$(document).ready(function(){
$('.carousel').carousel({
    pause: true,
    interval: 5000
});
});




$(document).ready(function(){
$(".col-md-3 ").mouseenter(function(){
    $(this).find(".col-img-responsive02").show(100);
}); 


$(".col-md-3").mouseleave(function(){
    $(this).find(".col-img-responsive02").hide();
}); 
}); 
</script>


    </article>
</section> <br>




<!--Ofertas-->
<section id="ofertas">
    <article class="articulo">
<div class="col-md-12">
<h3> Ofertas </h3></div>
    <div class="large-12 columns">
    <div class="owl-carousel owl-theme">
    <div>
    <img class="owl-lazy" data-src="https://media-cdn.tripadvisor.com/media/photo-i/0d/7f/29/16/fachada-del-ebizing.jpg" data-src-retina="https://placehold.it/350x250&text=1-retina" alt="">
        <h4 class="text-center">MAJICA MAYORAL</h4>
        <h5 class="text-center">4000,00 RSD</h5>
    </div>
    <div>
    <img class="owl-lazy" data-src="http://img.webme.com/vorschau/e/elvisguerra/POSADA%201.jpg" data-src-retina="https://placehold.it/350x250&text=2-retina" alt="">
        <h4 class="text-center">MAJICA FOTO</h4>
        <h5 class="text-center">4000,00 RSD</h5>
    </div>

    <div>
    <img class="owl-lazy" data-src="http://static303.tiendeo.mx/images/tiendas/71961/catalogos/223767/paginas/mid/00008.jpg" class="img-responsive center-block" alt="">
        <h4 class="text-center">CVETNA HALJINA</h4>
        <h5 class="text-center">4000,00 RSD</h5>
    </div>

<div>
    <img class="owl-lazy" data-src="http://static300.tiendeo.mx/images/tiendas/5586/catalogos/232896/paginas/mid/00001.jpg" class="img-responsive center-block" alt="">
   <span class="badge">10%</span>
              <h4 class="text-center">PANTALONE TERI 2</h4>
              <h5 class="text-center">4000,00 RSD</h5>
              <h6 class="text-center">5000,00 RSD</h6>
</div>

<div>
    <img class="owl-lazy" data-src="http://www.artdemont.com/uploads/images_products/1543.jpg"  alt="">
     <h4 class="text-center">MAYORAL KOŠULJA</h4>
              <h5 class="text-center">4000,00 RSD</h5>
</div>    

<div>
    <img class="owl-lazy" data-src="http://www.movimmento.cl/tienda/img/cms/servicios.jpg" alt="">
     <h4 class="text-center">MAYORAL SUKNJA</h4>
              <h5 class="text-center">4000,00 RSD</h5>
</div>



<div>
    <img class="owl-lazy" data-src="http://www.raffinee.com.ar/backup/file_img/img_tratamientos.png" alt="">
      <h4 class="text-center">MAYORAL TRATAMT</h4>
              <h5 class="text-center">4000,00 RSD</h5>
</div>


<div>
    <img class="owl-lazy" data-src="https://media-cdn.tripadvisor.com/media/photo-i/0f/92/de/4f/sirloin-con-papa.jpg" alt="">
   <h4 class="text-center">MAYORAL 2X1</h4>
              <h5 class="text-center">4000,00 RSD</h5>
</div>


<div>
    <img class="owl-lazy" data-src="https://thumbs4.static-thomann.de/thumb//thumb180x200/pics/prod/398688.jpg" alt="">
      <span class="badge">15%</span>
 <h4 class="text-center">BONINE PEDALE</h4>
              <h5 class="text-center">4000,00 RSD</h5>
</div>


<div>
    <img class="owl-lazy" data-src="http://www.noticiasaxoncomunicacion.net/wp-content/uploads/2016/01/Baytril10.jpg" alt="">
   <span class="badge">15%</span>
 <h4 class="text-center">BAYTRIL10</h4>
              <h5 class="text-center">4000,00 RSD</h5>
</div>


<div>
    <img class="owl-lazy" data-src="http://www.biocantabria.com/images/patrocinadores/madretierra.png" alt="">
  <span class="badge">15%</span>
 <h4 class="text-center">TIERRE MADREL</h4>
              <h5 class="text-center">4000,00 RSD</h5>
</div>



</div>
          </div>
   </article>
     <script>
            jQuery(document).ready(function($) {
              var owl = $('.owl-carousel');
           
              owl.owlCarousel({
                loop: true,
                autoPlay : true,
                autoplayTimeout: 3000,
                //nav: true,
                lazyLoad: true,
                margin: 30,
                video: true,
                //smartSpeed:50,
                //touchDrag: true,
                //mouseDrag: true,
                slideSpeed:         300,
                paginationSpeed:    400,
                singleItem:         true,
               
               // transitionStyle:    "fade",
                responsive: {
                  0: {
                    items: 1
                  },
                  600: {
                    items: 3
                  },
                  960: {
                    items: 5,
                  },
                  1200: {
                    items: 6
                  }
                }
              });
            });
          </script>
</section> <br>





<!--LICITACIONES SECTION-->

        <section id="licitacionesEmpleos">

        <div class="col-md-12">

        <div class="col-md-6">
            <article class="articulo">
           
            <h3> Licitaciones Destacadas </h3>
            
            <dir>
            <li><a href="#">SERVICIO DE TRANSPORTE DE CÁTODOS DE COBRE PLANTA VALLENAR</a></li>
            <li><a href="#">SERVICIO VIGILANCIA, PLANTA OVALLE</a></li>
            <li><a href="#">SERVICIO DE TELEFONÍA MÓVIL</a></li>
            <li><a href="#">SERVICIO APOYO ADMINISTRATIVO Y LABORATORIO QUÍMICO, PLANTA TALTAL</a></li>
            <li><a href="#">Prestación de suministro de material de T.I.C.</a></li>
            <li><a href="#">ADQUISICIÓN DE EQUIPOS ELECTRÓNICOS PARA USO INDUSTRIAL CON INSTALACIÓN FIJA EN INTEMPERIE</a></li>

            <li><a href="#">SERVICIO DE TRANSPORTE DE CÁTODOS DE COBRE PLANTA VALLENAR</a></li>
            <li><a href="#">SERVICIO VIGILANCIA, PLANTA OVALLE</a></li>
            <li><a href="#">SERVICIO DE TELEFONÍA MÓVIL</a></li>
            <li><a href="#">SERVICIO APOYO ADMINISTRATIVO Y LABORATORIO QUÍMICO, PLANTA TALTAL</a></li>
            <li><a href="#">Prestación de suministro de material de T.I.C.</a></li>
            <li><a href="#">ADQUISICIÓN DE EQUIPOS ELECTRÓNICOS PARA USO INDUSTRIAL CON INSTALACIÓN FIJA EN INTEMPERIE</a></li>
            </dir>

            </article>
        </div>

        <div class="col-md-6">
            <article> 

            <h3> Empleos Destacados </h3>

            <dir>
            <li><a href="#">AUXILIAR CONTABLE</a></li>
            <li><a href="#">PRE VENTA</a></li>
            <li><a href="#">FACTURADOR - RUTA AL ATLANTICO</a></li>
            <li><a href="#">PILOTO VENDEDOR - ESCUINTLA</a></li>
            <li><a href="#">Ejecutivo de Ventas de Microcréditos - Chichicastenango</a></li>
            <li><a href="#">Quimicos Biologos - Promotoria</a></li>


            <li><a href="#">Supervisor de Proyectos - Experiencia en Empresas de Construcciòn</a></li>
            <li><a href="#">Ejecutivo de ventas - Coatepeque</a></li>
            <li><a href="#">Gerente de Producción Agrícola - Exportación de Ornamentales</a></li>
            <li><a href="#">Técnico en electrónica</a></li>
            <li><a href="#">Vendedor Mayorista - Departamental</a></li>
            <li><a href="#">Asistente de Planillas - Asistente de Nómina</a></li>
            </dir>

            </article>
        </div>


        </div>


        </section>




<!--REGISTER AND LOGIN SECTION-->

<section id="registro">
    <article class="articulo">

<div class="col-md-12">

<div class="col-md-6"> 
<h3>Login</h3>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                        <p class="desc">Si ya posees una cuenta, ingresa tu usuario y contraseña para acceder al sistema, si no puedes registrarte 
                        <a ui-sref="account.register" href="#">aqui</a>
                    </p>
                </div>

                <div class="panel-body">

                    <form accept-charset="UTF-8" role="form">
                    <fieldset>

                        <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="email" type="text">
                        </div>

                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                            </label>
                        </div>                     

            <div class="form-group" align="center">
                <button class="btn" type="submit" name="action">Entrar</button>
                    <p class="desc center-align" style="margin-top: 20px;">¿Olvidaste tu 
                        <a ui-sref="account.recover" href="#!/cuenta/recuperar">Contraseña</a>?<br>
                            </p>
                        <p class="desc center-align" style="margin-top: 15px;">¿No llegó tu  
                    <a ui-sref="account.resend" href="#!/cuenta/correo/reenviar">Email de confirmación de cuenta</a>?<br><br>
                </p>
            </div>

                    </fieldset>
                    </form>
                </div>
            </div>
    
    
</div> <!--endOfCol-md-6-->


<div class="col-md-6">
    <h3>Register</h3>
  <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                    <br>
                    <p>Ingresa tus datos para crear una cuenta en el sistema.</p>
                </div>

                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form">
                    <fieldset>


                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                            </span>
                    <select ng-model="data.pais" name="town" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
                                ng-options="country.id as country.name for country in countries" 
                                ng-change="currentCountry()" placeholder="Selecciona tu país" required="" style="">
                         <option value="" class="" selected="selected">Selecciona tu país</option>
                         <option label="Guatemala" value="number:6">Guatemala</option>
                         <option label="El Salvador" value="number:7">El Salvador</option>
                         <option label="Honduras" value="number:8">Honduras</option>
                         <option label="Nicaragua" value="number:9">Nicaragua</option>
                         <option label="Costa Rica" value="number:10">Costa Rica</option>
                         <option label="México" value="number:11">México</option>
                    </select>
                </div>


            <div class="form-group">
                <label>Correo:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <input name="mail" type="email" class="form-control" placeholder="Ingresa tu correo electrónico" ng-pattern="/^[a-zA-Z0-9\._-]+@[a-zA-Z0-9-]{2,}([.][a-zA-Z]{2,64}){1,64}$/" uib-tooltip="Ingrese un correo electrónico con formato usuario@servidordecorreo.com" tooltip-placement="right" required="">
                </div>
                <!-- ngIf: formRegister.mail.$invalid && submitted -->
            </div>

                      
            <div class="form-group">
                <label>Contraseña:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input name="password" type="password" class="form-control" placeholder="Ingresa tu contraseña" ng-model="data.pass" ng-pattern="/(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" uib-tooltip="Contraseña debe contener al menos 8 caracteres, mayúsculas, minúsculas y números" tooltip-placement="right" required="">
                </div>
                <!-- ngIf: formRegister.password.$invalid && submitted -->
              
            </div>


            <div class="form-group" align="center"> <br>
      <div class="password-advice">Tu contraseña debe de contener 8 caracteres, mayúsculas, minúsculas y números</div> <br>
                <button class="btn" type="submit" name="action" ng-click="loginUser()">Registrar</button>
            </div>

                    </fieldset>

                    </form>
                </div>
            </div>





</div> <!--endOfCol-md-6-->






</div>




    </article>
</section>



<footer id="futter">
<div align="center">
<h1>footer </h1>
</div>
</footer>

</body>
</html>




